@charset "UTF-8";


/*---- From_Mac_CSS
----------------------------------------------------- */

/*

.mac body{
	font-size:11px;
}

.mac h1{
	font-size:15px;
}

.mac h2{
	font-size:13px;
}

.mac h3,
.category-navi ul{
	font-size:11px;
}

.mac table.common-table{
	font-size:11px;
}

.mac table.common-table td,
.mactable.common-table th{
	font-size:11px;
}

.mac p.path {
	font-size:9px;
}

.mac .footer-navi ul li {
	font-size:9px;
}

.mac table.common-t{
	font-size:11px;
}

*/